<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="StudentByxml" class="com.kuake.springbootHelloworld.entity.Student">
        <property name="name" value="jack"></property>
        <property name="age" value="18"></property>
        <property name="weight" value="175"></property>
        <property name="lists">
            <list>
                <value>1</value>
                <value>11</value>
                <value>1111</value>
            </list>
        </property>

        <property name="maps">
            <props>
                <prop key="KK1">VV1</prop>
                <prop key="KK2">VV2</prop>
                <prop key="KK3">VV3</prop>
            </props>
        </property>
    </bean>
</beans>